doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Dom Manip
    link(rel='stylesheet', href='/style.css')
  body
    h1 Box slider
    input#input(type='text')
    button#go Go
    
    #boxes
    
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/main.js')
